DATABASE_URL={DATABASE_URL}

DATABASE_ROOT_PASSWORD={DATABASE_ROOT_PASSWORD}
DATABASE_USER={DATABASE_USER}
DATABASE_PASSWORD={DATABASE_PASSWORD}
DATABASE_NAME={DATABASE_NAME}
DATABASE_HOST={DATABASE_HOST}
DATABASE_PORT={DATABASE_PORT}
BETTER_AUTH_SECRET={BETTER_AUTH_SECRET}

AUTH_GOOGLE_ID={AUTH_GOOGLE_ID}
AUTH_GOOGLE_SECRET={AUTH_GOOGLE_SECRET}

AUTH_URL={AUTH_URL}